html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

#SHW-PAGE-FORECAST,
#SHW-PAGE-POINT-LIST,
#SHW-PAGE-SELECT-POINT,
div#SHW-FORECAST,
div#SHW-LIST,
div#SHW-MAP {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

div#SHW-FORECAST,
div#SHW-LIST {
	overflow: auto	;
}

div.SHW-OVERLAY {
	margin: 0;
	padding: 0.5em;
	position: relative;
	top: -100%;
}
div.SHW-BTN-L { float: left; }
div.SHW-BTN-R { float: right; }

h1 {
	margin: 0;
	padding: 0.5em 2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 24px;
	text-align: center;
}
h2 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
}

div.content-padding {
	padding: 0.5em;
}

div#SHW-FORECAST table.forecast th,
div#SHW-FORECAST table.forecast td {
	text-align: center;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
div#SHW-FORECAST table.forecast i {
	font-size: 2em;
}
div#SHW-FORECAST table.forecast span.glyphicon {
	font-size: 2em;
}
div#SHW-FORECAST table.forecast span.distance {
	font-size: 1em;
}

div.table-responsive table.table tr th.fixed-colhead {
	position: relative;
	left: 0;
}


/* ------------------- */
*.mirror {
    -moz-transform:matrix(-1, 0, 0, 1, 0, 0);
 -webkit-transform:matrix(-1, 0, 0, 1, 0, 0);
      -o-transform:matrix(-1, 0, 0, 1, 0, 0);
     -ms-transform:matrix(-1, 0, 0, 1, 0, 0);
         transform:matrix(-1, 0, 0, 1, 0, 0);
}
